# Files
.DS_Store
*.tfvars

# Folders
.idea/*
/node_modules/
/.secrets/
/infrastructure/.terraform/
/infrastructure/.terraform.lock.hcl
/.env
/web/.env
/database/seed/*.sql
/pprof/
/server/test/e2e/.env
*.prof
