version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/apps/web"
    schedule:
      interval: "daily"
  - package-ecosystem: "gomod"
    directory: "apps/backend"
    schedule:
      interval: "daily"
