name: Dependencies

on:
  push:

permissions:
  contents: read
  pull-requests: write

jobs:
  go:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Install depu
        run: go install github.com/kevwan/depu@latest

      - name: Check packages
        id: depu
        run: |
          # Run depu and process the output
          depu | awk '
          BEGIN { 
            print "| PACKAGE | CURRENT | LATEST | GOVERSION |"; 
            print "|---------|---------|--------|-----------|";
          }
          NR > 3 { 
            gsub(/[+|-]+/, ""); 
            print "| " $1 " | " $2 " | " $3 " | " $4 " |"; 
          }' > markdown_table.txt
          
          echo "markdown_table<<EOF" >> $GITHUB_OUTPUT
          cat markdown_table.txt >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Post comment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          markdown_table="${{ steps.depu.outputs.markdown_table }}"
          # Write the comment directly with newlines
          gh pr comment --body "**Go package check**  
          $markdown_table"


