name: test

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - ready_for_review
      - synchronize
    paths:
      - 'proto/**'
      - 'buf.yaml'
      - 'buf.gen.yaml'
      - 'package.json'

jobs:
  proto:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm install

      - name: Generate protos
        run: npx buf generate

      - name: Lint protos
        run: npx buf lint

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Install goimports
        run: go install golang.org/x/tools/cmd/goimports@latest

      - name: Run goimports
        run: goimports -w .

      - name: Check for uncommitted changes
        run: |
          if [[ $(git status --porcelain) ]]; then
            git diff
            exit 1
          fi

